<div class="myContainer">
    <h1>Welcome to my container</h1>
    <h3>Begin...</h3>
    <p>Welcome, welcome, well...come in. Let's begin, I'm calling for a truce. See I'd very much like for the process to stop... doing what it's doing. I'd very much like that alot. So what can the transistor do? Well...it can build a bridge</p>

    <div  class="flex-container">
        <div *ngFor="let cal of fakecalender" >
            <div style="width: 250px;">
                <label>{{cal.day}} {{cal.month}} {{cal.year}}</label> <br/>
                <p *ngFor="let task of cal.tasks"> {{task}}</p><br/>
            </div>
        </div>
    </div>

    <div>
        <button class="btn btn-primary" (click)="open(myModal)">Begin</button>
        <button class="btn btn-success" (click)="open(myRegister)">Execute</button>
    </div>
</div>

<ng-template #myModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Login Modal</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
    </div>
    <div class="modal-body">
        <app-login (loginFunction)="loginFunction($event)"></app-login>
    </div>
    <div class="modal-footer">
        <p>brought to you by Keoagile Motlhale</p>
    </div>
</ng-template>

<ng-template #myRegister let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Register Modal</h4>
        <button type="button" class="close" aria-label="Close"(click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="modal-body">
        <app-register *ngIf="step1" (registerFunction)="registerFunction($event)"></app-register>
        <app-register-pg2 *ngIf="step2" (nextFunction)="nextFunction($event)"></app-register-pg2>
        <app-register-pg3 *ngIf="step3" (nextFunction)="nextFunction($event)"></app-register-pg3>
    </div>
    <div class="modal-footer">
        <p>brought to you by Keoagile Motlhale</p>
    </div>
</ng-template>

