.myContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 5px solid #696969;
}

.flex-container {
    display: flex;
    background-color: dodgerblue;
    overflow: scroll;
}

.flex-container > div {
    background-color: #c0c0c0;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    width: 50%;
}

.scrollButton{
    background-color: #696969;

}

.scrollButton > button{
    margin-top: 300%;
}

h1 { 
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; 
    font-size: xx-large; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: normal; 
} 

h3 { 
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: x-large; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: normal; 
} 

p { 
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; 
    font-size: medium; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: normal; 
} 

blockquote { 
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
} 

pre { 
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; 
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px; 
}



