<h1>Login Form</h1>
<form [formGroup]="loginForm">
    <div>
        <label>ID:</label>
        <input type="text" formControlName="id" placeholder="required"/>
    </div>
    <div>
        <label>Email:</label>
        <input type="text" formControlName="email" placeholder="required"/>
    </div>
    <div>
        <button [disabled]="loading" type="button" class="btn btn-success" (click)="onLogin()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Login
        </button>
    </div>
</form>