<div>
    <form [formGroup]="userForm">
        <div>
            <label>Name:</label><br/>
            <input type="text" disabled formControlName="name"/>
        </div>
        <div>
            <label>Email:</label><br/>
            <input type="text" disabled formControlName="email"/>
        </div>
        <div>
            <label>Gender:</label><br/>
            <input type="text" disabled formControlName="gender"/>
        </div>
        <div>
            <label>Status:</label><br/>
            <input type="text" disabled formControlName="status"/>
        </div>
        <div>
            <label>Created:</label><br/>
            <input type="text" disabled formControlName="created_at"/>
        </div>
        <div>
            <label>Updated:</label><br/>
            <input type="text" disabled formControlName="updates_at"/>
        </div>
    </form>
</div>